<div>
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <mat-form-field  class="form-group">
        <input matInput placeholder="Código SAP" formControlName="key" required>
        <mat-error *ngIf="productForm.get('key').invalid">{{getErrorMessage("key")}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group">
        <input matInput placeholder="Descripción" formControlName="description" required >
        <mat-error *ngIf="productForm.get('description').invalid">{{getErrorMessage("description")}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-select placeholder="Seleccione embalaje" formControlName="packaging" required>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-select placeholder="Seleccione tipo de producto" formControlName="productType" required>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-group">
        <input matInput placeholder="Precio unitario" formControlName="unitPrice" required>
        <mat-error *ngIf="productForm.get('unitPrice').invalid">{{getErrorMessage("unitPrice")}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group">
        <input matInput placeholder="Precio Venta" formControlName="retailPrice" required>
        <mat-error *ngIf="productForm.get('retailPrice').invalid">{{getErrorMessage("retailPrice")}}</mat-error>
      </mat-form-field>
      <button mat-flat-button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Guardar</button>
      <button mat-flat-button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Actualizar</button>
    </form>
  </mat-card>
</div>

<div *ngIf="dataSource.length>0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="packaging">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.packaging}} </td>
      </ng-container>

      <ng-container matColumnDef="productType">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="retailPrice">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.retailPrice}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="warn" (click)="delPackaging(element.$key)">
                <mat-icon class="material-icons md-40">delete</mat-icon>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

