<div class="divaddCustomer">
    <mat-card> 
    <form (ngSubmit)="selectOperation()" [formGroup]="AddCustomerFrom">
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name" required>
        <mat-error *ngIf="AddCustomerFrom.get('name').invalid">{{getErrorMessage("name")}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Documento" formControlName="document" required>
        <mat-error *ngIf="AddCustomerFrom.get('document').invalid">{{getErrorMessage("document")}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Persona Contacto" formControlName="contactPerson" required>
        <mat-error *ngIf="AddCustomerFrom.get('contactPerson').invalid">{{getErrorMessage("contactPerson")}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Numero de Telefono" formControlName="cellphone" required>
          <mat-error *ngIf="AddCustomerFrom.get('cellphone').invalid">{{getErrorMessage("cellphone")}}</mat-error>
        </mat-form-field>

      <button *ngIf="!updateEnable" type="submit" mat-raised-button color="primary" [disabled]="!AddCustomerFrom.valid">Agregar</button>
      <button *ngIf="updateEnable" type="submit" mat-raised-button color="accent" [disabled]="!AddCustomerFrom.valid"> Modificar </button>
          

    </form>
  </mat-card>
</div>
    <div *ngIf="dataSource.length>0">
        <mat-card>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef> Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.document}} </td>
              </ng-container>

              <ng-container matColumnDef="contactPerson">
                  <th mat-header-cell *matHeaderCellDef> Persona Contacto </th>
                  <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
                </ng-container>

              <ng-container matColumnDef="cellphone">
                  <th mat-header-cell *matHeaderCellDef> Numero de Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
                </ng-container>
  
                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef>Ubicacion</th>
                  <td mat-cell *matCellDef="let element"> 
                      <button mat-icon-button color="warn" (click)="openDialog()">
                          <mat-icon class="material-icons md-40">  location_on  </mat-icon>
                      </button>
                  </td>
                </ng-container>

                  <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef>   Modificar   </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button color="warn" (click)="startModifyCustomer(element)">
                            <mat-icon class="material-icons md-40">  update  </mat-icon>
                        </button>
                    </td>
                  </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </mat-card>
    </div>
    <!-- <app-location></app-location> -->

    
  
  
  